$t1: 0.15s;
$t2: 0.25s;

// ================================================================================================================
// COULEURS
// ================================================================================================================

//Texte courant
$text: #000; // TO DO
//Texte (variante)
$label: #757678;

//Principale
$c1: #00aaa7; // TO DO
$c1h: #006461; // TO DO

$c2: #00aaa7; // TO DO
$c2h: #006461; // TO DO

$c3: #00aaa7; // TO DO
$c3h: #006461; // TO DO

$grey1: #acaca8;
$grey2: #8c8c88;
$grey3: #7c7c7c;
$grey4: #61615d;
$grey5: #373733;

$valid: #27d086;
$validh: #17784e;
$warning: #ff8f4f;
$warningh: #e65400;
$error: #ed4141;
$errorh: #b61111;

//Filigrane
$filigrane: #999;

//Bordures
$border: #cfcfd3;

//Texte courant
$font: 'Circular', sans-serif; // TO DO
$head: 'Circular', sans-serif;
